body {
	/* overflow: hidden; */
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	font-size: 16px;
	font-family: sans-serif;
	width: 100% !important;
	min-width: 0 !important;
}

.wrapper {
	width: 100%;
	/* max-width: 800px; */
	margin: 0 auto;
	text-align: center;
	padding: 50px 25px;
}

.boxes {
	display: inline-block;
	vertical-align: middle;
	font-size: 0em;
	overflow: visible;
}

.box {
	min-height: 400px;
	width: 280px;
	position: relative;
	vertical-align: top;
	display: inline-block;
	font-size: 15px;
	background: #fff;
}

.two.box {
	/* background: rgb(245, 245, 245); */
}

.name {
	color: #aaa;
	margin: 0.35em 0;
	/* line-height: 1.3em; */
	font-weight: 600;
	font-size: 1.35em;
	/* letter-spacing: 4px; */
	text-align: center;
}

.two .name {
	color: #BB9A85;
}

.price {
	color: #000;
	font-weight: 600;
	font-size: 1em;
	/* letter-spacing: 4px; */
	text-align: center;
}

.pic  {
	display: block;
	width: 100%;
	height: 210px;
}

.reasons {
	color: #555;
	text-align: left;
	margin: 2em auto;
	font-size: 1em;
	width: 75%;
	height: 4.5em;
}

.reason {
	margin: 0.7em auto;
	padding-left: 1.7em;
}

.reason::before {
	display: inline-block;
	vertical-align: middle;
	width: 1em;
	height: 1em;
	background: url('img/check.png') no-repeat center;
	background-size: contain;
	content: ' ';
	margin: 0 0.5em 0 -1.5em;
	opacity: 0.8;
}

.button input {
	text-decoration: none;
	border: 1px solid #000;
	outline: none;
	font-size: 0.9em;
	height: 3.5em;
	padding: 0 2.5em;
	border-radius: 2em;
	cursor: pointer;
	font-weight: 600;
	border-color: #BB9A85;
	transition: background 0.25s, color 0.25s;
	background: #fff;
	color: #555;
}

.box:hover .button input,
.box:active .button input,
.box:focus .button input {
	transition: background 0.25s 0.25s, color 0.25s 0.25s;
	background: #BB9A85;
	color: #fff;
}

.button {
	position: absolute;
	display: inline-block;
	bottom: 2em;
	cursor: pointer;
	z-index: 5;
}

.button_holder {
	height: 6em;
}

.mobile {
	display: none;
}
@media (max-width: 910px) {
	.desktop {
		display: none;
	}
	.mobile {
		display: inline-block;
	}
}
@media(min-width: 910px) {
	.boxes {
		box-shadow: 0 0 40px 0 rgba(0,0,0, 0.2);
	}

	.box {
		box-shadow: 0 0 0 0 rgba(0,0,0, 0.0);
		transition: transform 0.25s, box-shadow 0.25s, z-index 0.5s;
		transform: scale(1);
		z-index: 1;
	}

	.box:last-child {
		transform-origin: right 50%;
	}

	.box:first-child {
		transform-origin: left 50%;
	}

	.box:hover,
	.box:active,
	.box:focus {
		transition: transform 0.25s 0.25s, box-shadow 0.25s 0.25s, z-index 0.5s;
		box-shadow: 0 0 40px 0 rgba(0,0,0, 0.3);
		transform: scale(1.1);
		z-index: 3;
	}

	.box:hover:first-child,
	.box:active:first-child,
	.box:focus:first-child,
	.box:hover:last-child,
	.box:active:last-child,
	.box:focus:last-child {
		transform: scale(1.05);
	}
}

@media (max-width: 910px) and (min-width: 630px) {
	.wrapper {
		max-width: 610px;
		text-align: left;
	}
	.box {
		border: 1px solid #ddd;
	}
	.box:first-child {
		border-width: 1px 0 1px 1px;
	}
	.box:last-child {
		border-width: 0 1px 1px 1px;
	}
}

@media (max-width: 630px) {
	.wrapper {
		max-width: 330px;
		text-align: left;
	}

	.reasons {
		height: auto;
	}

	.boxes {
		box-shadow: 0 0 40px 0 rgba(0,0,0, 0.2);
	}

	.button_holder {
		height: 5em;
	}
}

.vcenter {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.hcenter {
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.center {
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
	-ms-transform: translateY(-50%) translateX(-50%);
	transform: translateY(-50%) translateX(-50%);
}
